body, html {
    font-family: "Open Sans", sans-serif;
    height: 100%;
}
h1{
    font-family: 'MedievalSharp', cursive;
    color: wheat;
    font-size: 50px;
    text-shadow: black 9px 5px 20px;
}
h2, h3 ,h4{
    font-family: 'MedievalSharp', cursive;
}
h4 {
    color: #ffffff;
}
header h2 {
    color: #ffffff;
}
​
.site-footer {
    background-image: linear-gradient(#0d0a14, #111111);
    padding: 20px 0;
}
​
.jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right, #0d0a14, #111111, #0d0a14);
    color: rgb(241, 239, 243);
    margin: 0;
}
.row{
    width: 100%;
}
.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}
.navbar {
    background-color: #030000;
    
}
​
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}
​
.carousel-item {
    border: solid rgb(26, 18, 4);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
​
}
​
#carousel-inner {
    width: auto;
    height: 650px;
   
}
​
.scroll {
    max-height: 240px;
    overflow-y: auto;
}
​
.card-img {
    border: 5px solid black;
}
​
#card1 {
   background-color: black;
   color: white;
  border: black 10px solid;
     
}
#card2 {
    background-color: black;
    color: white;
    border: black 10px solid;
   
    border-left: 5px;
​
      
 }
 #card3 {
    background-color: black;
    color: white;
    border: black 10px solid;
      
 }
 
 
​
.hero-image {
​
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
}
​
.hero-text {
  font-family: 'MedievalSharp', cursive;
  font-size: 19px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: wheat;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  padding: 50px;
  text-shadow: black 9px 5px 20px;
}
​
.hero-button {
    margin-top: 30px;
    padding: 20px;
    font-size: 30px;
}
#wood {
    background-image: url(img/wood-background.jpg); 
    background-size: cover; 
    background-repeat: no-repeat;
}

.site-footer {
    background-image: linear-gradient(#0d0a14, #111111);
    padding: 20px 0;
}